@if (todos().length) {
  <footer class="footer">
    <span class="todo-count"><strong>{{ activeCount() }}</strong> {{ activeCount() === 1 ? 'item' : 'items'}} left</span>
    <ul class="filters">
      <li>
        <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true}">All</a>
      </li>
      <li>
        <a routerLink="/active" routerLinkActive="selected">Active</a>
      </li>
      <li>
        <a routerLink="/completed" routerLinkActive="selected">Completed</a>
      </li>
    </ul>
    @if (hasCompleted()) {
      <button (click)="handleRemoveCompleted()" class="clear-completed">Clear completed</button>
    }
  </footer>
}
