:host {
  display: block;
}

nav {
  position: fixed;
  inset: 0;
  top: 64px;
  width: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  border-right: 1px solid var(--mauve-6);
}

nav div {
  color: var(--violet-11);
  padding-bottom: 4px;
}

nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

nav a:hover {
  background: var(--mauve-4);
}
