<h2 class="title has-text-centered dividing-header">UpVote!</h2>

<div class="section">
  @for (item of submissions; track item.id) {
    <article class="media">
      <figure class="media-left">
        <img class="image is-64x64" [src]="item.submissionImage" />
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>
              <a [href]="item.url" class="has-text-info">{{ item.title }}</a>
              <span class="tag is-small">#{{ item.id }}</span>
            </strong>
            <br />
            {{ item.description }}
            <br />
            <small class="is-size-7">
              Submitted by:
              <img class="image is-24x24" [src]="item.avatar" />
            </small>
          </p>
        </div>
      </div>
      <div class="media-right">
        <span class="icon is-small" (click)="vote(item)">
          <i class="fa fa-chevron-up"></i>
          <strong class="has-text-info">{{ item.votes }}</strong>
        </span>
      </div>
    </article>
  }
</div>
